.hidden-label {
    position: absolute;
    left: -9999px;
}

.calendar-container {
    padding: 0;
    max-width: 990px;
    margin: 0 auto;
    width: fit-content;
}

.calendar-header {
    position: relative;
    display : flex;
    padding: 8px;
    height: fit-content;
}

.controls {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.mode-select {
    margin-left: auto;
}
.mode-select select {
    padding: 4px;
}

/* #calendar-viewer {
} */

#month-viewer-container {
    display: block;
    /*widthはデバイスによる*/
    /*子要素を均等サイズで配置*/
    width: 800px;
    margin: auto;
}

#month-viewer-container.hidden {
    display: none;
}

/**/
.calendar-month {
    margin-bottom: 2rem;
}

.calendar-month table {
    width: 100%;
    border-collapse: collapse;
}

/*月カレンダーのタイトルラベル [８月]*/
.calendar-month > div.title {
    text-align: center;
}

/*曜日列*/
.calendar-month tr:first-of-type {
}

/*曜日セル*/
.calendar-month tr:first-of-type th {
    text-align: center;
    padding: 0.2rem auto;
    border: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

/*infoセル*/
.calendar-month tr:nth-child(2n) td {
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
}

/*labelセル*/
.calendar-month tr:nth-child(2n+1) td {
    border-right: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-bottom: 1px solid #aaa;
}

/*日付*/
.calendar-month td > div.head {
    padding: 0.1rem 0;
    text-align: center;
}

/*日情報*/
.calendar-month td > div.info {
    padding: 0.4rem 0;
    text-align: center;
    font-size: 12px;
    color: red;
}

/*予約可能日*/
.calendar-month td > div.info.available {
    text-decoration: underline;
    color: green;
    cursor: pointer;
}

/*日を、跨ぐラベル欄*/
.calendar-month td.label {
    height: 0;
    border-bottom: 1px solid black;
}





#week-viewer-container {
    display: block;
}

#week-viewer-container.hidden {
    display: none;
}

.calendar-week {
    overflow: auto;
    border: 1px solid black;
}

.calendar-week table {
    table-layout: fixed;
    width: 100%;
    border-collapse:separate;
    border-spacing:0;
}

/*全セル*/
.calendar-week th, .calendar-week td{
    position: relative;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    width: 10rem;
    height: 3rem;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: center;
}

/*1列目*/
.calendar-week tr th:first-of-type {
    border-left: 1px solid black;
    position: sticky;
    left: 0;
    background-color: white;
    z-index: 9;
}

/*１行目*/
.calendar-week tr:first-of-type th{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9;
}

/*左上*/
.calendar-week tr:first-of-type th:first-of-type {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: white;
}

/*予約されたセル*/
.calendar-week td[data-isVacancy="true"] {
    cursor: pointer;
    font-size: 0.8rem;
    color: green;
}

.calendar-week td[data-isVacancy="false"] {
    color: red;
}

.calendar-week td[data-isVacancy="true"]:hover{
    background-color: #eee;
}

.reservation-label {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: floralwhite;
    z-index: 5;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sun { color: red; }
.sat { color: blue; }
.mute { color: #aaa; }

/* .controls {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: red;
} */

.btn {
    font-size: 1rem;
    color: #111;
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    /* white-space: nowrap; */
}
.btn:hover {
    background-color: #eee;   
}
.btn:focus {
    outline: none;
}