/*ログイン、ユーザー登録モーダルウィンドウ*/
#login_register, #login, #register {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

#login_register.visible, #login.visible, #register.visible {
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: all;
    opacity: 1.0;
}

/*モーダルウィンドウのレイアウト*/
.modal-wrapper {
    padding: 0.2rem;
    position : fixed;
    left : 50%;
    top : 50%;
    transform: translate(-50%,-50%);
    background-color: white;
    border-radius: 6px;
}

.modal-wrapper .center {
    text-align: center;
}